body {
  overflow-y: auto;
}

/* Homepage Container */
.homepage {
  text-align: center;
  position: relative;
}

/* Background Image */
.backgroundImage {
  /* width: 20%;
  height: auto; */
  width: 100%;
  height: 100%; /* Adjust this value to control the height of the background image */
  position: fixed; /* Ensure the background image covers the entire viewport */
  top: 0;
  left: 0;
  z-index: -1; /* Move the background image behind other content */
}


.userHomepageContainer {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40vw;
  text-align: center; */
  /* max-height: calc(100vh - 20rem); /* Adjust 120px according to your header and footer heights */
  /* overflow-y: auto;  */
}

.userHomepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 40vw;
  margin: auto; /* Center horizontally */
  text-align: center;
}
.userHomepagebuttonContainer {
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}


.statusButton {
  background-color: #5F191E;
  margin-right: 20px;
  width: 25rem;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.statusButton:hover {
  background-color: #400f13; /* Darken the color on hover */
}

.infoButton {
  background-color: #8A252C;
  padding: 50px;
  margin-right: 20px;
  width: 40%;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.infoButton:hover {
  background-color: #5d1a1f; /* Darken the color on hover */
}

.registerButton {
  background-color: #efefef;
  color: #000;
  padding: 30px;
  margin-right: 20px;
  width: 80%;
  border-radius: 10px;
  font-size: 20px;
}

.registerButton:hover {
  background-color: #d4d4d4; /* Darken the color on hover */
}

.disclaimerButton {
  background-color: #F4C522;
  padding: 50px;
    flex-grow: 1;
    border-radius: 10px;
    width: 70%;
    margin-right: 2%;
    font-size: 20px;
}

.disclaimerButton:hover {
  background-color: #e1b41d; /* Darken the color on hover */
}

.page-container{
  display: flex;
  flex: row;
  width: 100%;
  height: 100%;
}


.page-container .student_sidebar{
  height: 100%;
  position: absolute;
  z-index: 0;
}
.registerButton {
  background-color: #efefef;
  color: #000;
  padding: 30px;
  margin-right: 20px;
  width: 80%;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

.registerButton:hover {
  background-color: #d4d4d4; /* Darken the color on hover */
}

/* Style to make Register button more prominent */
.registerButton:after {
  content: " (Click Here)"; /* Add text to indicate it's clickable */
  font-size: 12px;
  color: #888; /* Light gray */
}


@media (max-width: 1024px) {
  /* .userHomepageContainer {
    transform: translate(-35%, -50%);
    width: 100vw;
    max-width: 100w;
    text-align: center;
  } */

  .statusButton {
    width: 90vw;
    font-size: 20px;
  }
}