/* user_landingpage.css */

/* Ensure no horizontal scrolling */
body {
  overflow-x: hidden;
}

/* LandingPage container */
.landingPage {
  display: flex;
  min-height: 95vh; /* Ensure the landingPage container covers the entire viewport height */
  min-width: 100vw;
  background-image: url('../../assets/LandPageBG.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.landingPageIntroduction {
  display: flex; /* Use flexbox to arrange the elements side by side */
  align-items: center; /* Center the content vertically */
  margin-left: 20%;
}

.landingPageText {
  width: 50%; /* Set width for the text container */
  padding: 0 2rem; /* Add padding to the text container */
}

/* Adjusting h2 style */
.landingPageText h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 4rem; /* Adjust margin-top as needed */
  text-align: left; /* Align text to the left */
}

.landingPageText h3 {
  font-size: 1.125rem;
  margin-bottom: 3rem;
  text-align: left; /* Align text to the left */
}

/* Login button */
.loginButton {
  background-color: #F4C522;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 30%;
  color: black;
}

.loginButton:hover {
  background-color: #8A252C;
}

.modalContainer {
  position: absolute; /* Set the position of the modal container to absolute */
  top: 50%; /* Align the top of the modal container to the middle of the viewport */
  right: -20%; /* Align the right side of the modal container with a 2% offset */
  transform: translateY(-50%); /* Adjust vertical positioning to center the modal container */
  width: 50%; /* Set width for the modal container */
  padding: 0 2rem; /* Add padding to the modal container */
  text-align: right; /* Align content to the right */
}

.MuiSnackbar-root {
  z-index: 1500; /* Adjust z-index value as needed */
}