.main-content {
  padding: 5px;
}

body {
  overflow: hidden;
  /* Ensure that the background image is not causing overflow issues */
  /* Uncomment the following lines if you want to use a background image */
  /*
  background-image: url('../../public/background2.jpeg');
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  */
}

.image-container {
  position: relative;
  width: 100%;
}

/* Adjust the height value according to your design */
.image-container img {
  width: 100%; /* Adjust image width to fill the container */
  height: auto; /* Maintain aspect ratio */
}

.bkg2 {
  position: absolute;
  width: 100%; /* Adjust to cover the entire container */
  height: 100%; /* Adjust to cover the entire container */
  top: 0;
  left: 0;
  object-fit: cover; /* This ensures the image covers the entire container */
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .bkg2 {
    display: none; 
  }
}

/* Media Query for Larger Screens (Windows Desktop) */
@media only screen and (min-width: 1200px) {
  .bkg2 {
    width: 60vw;
    height: 100vh; /*Adjust the height as needed*/
    top: 0; /*Adjust the top position as needed*/
    left: 0; /*Adjust the left position as needed*/
  }
}