.up-changepass {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.up-changepass h2 {
    font-family: 'Kumbh Sans';
}

.up-button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}