.ed-container {
  margin-left: 220px;
  width: 80vw;

  display: flex;
  flex-direction: column;
  gap: .4em;
  font-size: 1.2em;
  font-weight: bold;
}

.ed-container h1 {
  margin: 0;
  font-size: 1.3em;
  text-align: center;
  margin-top: 10vh;
}


/* Row 1*/
.ed-row-1 {
  display: flex;
  gap: 1em;
}

.ed-row-1>div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #ebebeb;
  border-radius: 10px;
  height: 80px;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
}

.ed-row-1>div>span:last-child {
  margin-top: 1em;
  font-size: 1.5em;
}

/* Row 2 */
.ed-row-2 {
  display: flex;
  gap: 1em;
}

.ed-row-2>div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #ebebeb;
  border-radius: 10px;
  height: 200px;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
}

.ed-row-2>div>span {
  position: absolute;
}

.ed-item-5 {
  width: 32%;
}

.ed-item-6 {
  width: 68%;
}



/* Row 3 */

.ed-row-3 {
  display: flex;
  gap: 1em;
}

.ed-row-3>div {
  width: 100%;
  background: #ebebeb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
}

.ed-row-3>div>span:first-child {
  margin-top: .5em;
}

/* Other */

.ed-park-icon {
  height: 4em;
}

.ed-background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}