.dropdown-menu {
    position: relative;
  }
  
.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    width: max-content;
    left: 0;
    background-color: rgb(255, 255, 255); 
  }
  
.dropdown-menu li {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    color: black;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
  }

.imgMenu {
    width: 50px;
}
button {
    background-color: rgba(255, 255, 255, 0.0);
    border: 0cap;
}