
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding: 1rem;
    color: white;
    background-color: rgba(255, 255, 255); 
    font-family: 'Kumbh Sans', sans-serif;
  }
.logoContainer {
  margin-right: 20px;
    width: auto;
    margin-left: 20px;
    transition: width 0.5s ease-in-out; 
}

.footerLogo {
  width: 80%;
}

.nav-footer {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.nav-footer a {
  color: #7D7D7D;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}

.nav-footer a:hover {
  text-decoration: underline;
}

.title {
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 10px;
}

.info2 {
  font-family: 'Kumbh Sans', sans-serif;
  margin: auto;
  margin-left: 100px;
  margin-top: -.125rem;
}

h6 {
  color: black;
  font-size: 1rem;
  padding: 3px;
  align-items: center;
  justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
}

.this {
  margin-bottom: 10px;
  font-family: 'Kumbh Sans', sans-serif;
}

.info1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-left: 300px;
  margin-top: -2rem;
  font-size: 1rem;
}

.info1 p {
  color: #7D7D7D;
  text-decoration: none;
  font-weight: 500;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 15px;
}

/* Media Query for Responsive Design */
@media (max-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logoContainer {
    margin-right: 20px;
    width: 200px;
  }

  .nav-footer {
    margin-left: auto;
  }

  .nav-footer a {
    color: #7D7D7D;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
  }

  .info1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 50px;
    margin-top: -35px;
    
 
  }

  .info2 {
    margin: auto;
    margin-left: 20px;
    margin-top: -2px;
  }
}

@media (max-width: 645px) {
  .footer {
    flex-direction: row;
    align-items: center;
  }

  .logoContainer {
  
    margin-top: -10%;
    width: 10%;
    left:0;
  }
  
.footerLogo {
  width: 30vw;
  top:0;
  margin-left: -30%;
}

  .info1 {
   margin-top: -10%;
   margin-left: 25%;
  }

  .info1,
  .info2 {
    text-align: center;
    width: 100%;
  }

  .info1 > div,
  .info2 > div {
    width: 40%;
  }

  .nav-footer {
    margin-top: 10%;
  }
  .nav-footer a,
  p {
    font-size: 0.7rem;
  }
  .this,
  .title {
    font-size: 1rem;

  }
}