.admin-header {
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  -webkit-box-shadow: 1px 6px 3px 0px #A2A2A2;
  box-shadow: 1px 6px 3px 0px #A2A2A2;
  z-index: 99;
}

body {
  margin: 0;
  background-color: #efefef;
}

.admin-logo {
  padding-left: 1rem;
}

.admin-controls {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.admin-username {
  margin-right: 1rem;
}

.admin-username-text {
  font-weight: bold;
}

.admin-pic>img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}