/* landingpage.css */

/* LandingPage container */
.landingPage {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the landingPage container covers the entire viewport height */
  background-image: url('../../../assets/LandPageBG.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.landingPageText {
  position: absolute;
  top: 50%; /* Position the landingPageText container in the middle of the landingPage container */
  left: 10%; /* Align the text to the left side of the page */
  transform: translate(-50%, -50%);
  width: 34vw;
  max-width: 700px;
  margin-left: 10%; /* Add left margin */
}

/* Adjusting h2 style */
.landingPageText h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 4rem; /* Adjust margin-top as needed */
  text-align: left; /* Align text to the left */
}

.landingPageText h3 {
  font-size: 1.125rem;
  margin-bottom: 3rem;
  text-align: left; /* Align text to the left */
}

/* Login button */
.loginButton {
  background-color: #F4C522;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 30%;
  color: black;
  font-size: 1.125rem;
}

.loginButton:hover {
  background-color: #8A252C;
}
/* user_landingpage.css */

.modalContainer {
  display: flex; /* Use flexbox to arrange the elements side by side */
  align-items: center; /* Center the content vertically */
  position: absolute; /* Set the position of the modal container to absolute */
  top: 50%; /* Align the top of the modal container to the middle of the viewport */
  right: -20%; /* Align the right side of the modal container with a 20% offset */
  width: 50%; /* Set width for the modal container */
  padding: 0 2rem; /* Add padding to the modal container */
  text-align: right; /* Align content to the right */
}

