/* Homepage Container */
.employeefeaturespage {
  text-align: center;
  position: relative;
}

/* Background Image */
.employeebackgroundImage {
  /* width: 20%;
  height: auto; */
  width: 100%;
  height: 100%; /* Adjust this value to control the height of the background image */
  position: fixed; /* Ensure the background image covers the entire viewport */
  top: 0;
  left: 0;
  z-index: -1; /* Move the background image behind other content */
}

body {
  overflow-x: hidden;
}

.employeefeaturespagebuttons-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40%;
  text-align: center;
}

@media (max-width: 320px) {
  .employeefeaturespagebuttons-container {
    top: 50%; /* Adjust vertical positioning */
    max-width: 80%; /* Adjust maximum width for smaller screens */
    transform: translate(-50%, -50%); /* Reset transform */
    left: 50%; /* Reset left positioning */
  }
}


.employeefeaturespagebuttons2-container{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 40%;
  text-align: center;

}

@media (max-width: 320px) {
  .employeefeaturespagebuttons2-container {
    top: 60%; /* Adjust vertical positioning */
    max-width: 40%; /* Adjust maximum width for smaller screens */
    transform: translate(-50%, -50%); /* Reset transform */
    left: 40%; /* Reset left positioning */
  }
}

.fdashboardButton {  
  background-color: #5F191E;
  padding: 7%;
  margin-right: auto;
  width: 31%;
  border-radius: 10px;
  color: white;
  font-size: 100%;
  text-align: center;
}

.dashboardButton:hover {
  background-color: #8A252C; /* Darken the color on hover */
}

/* Dashboard Button */
.verifyorcrdButton {
  background-color: #5F191E;
  margin-left: 2%;
  padding: 7%;
  width: 55%;
  border-radius: 10px;
  color: white;
  font-size: 100%;
}

.verifyorcrdButton:hover {
  background-color: #4e1619; /* Darken the color on hover */
}


/* Employee Features Button */
.verifyproofofpaymentButton {
  background-color: #8A252C;
  margin-right:2%;
  margin-top: 10px;
  padding: 7%;
  width: 55%;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 100%;
  
}

.verifyproofofpaymentButton:hover {
  background-color: #8A252C; /* Darken the color on hover */
}

.approveapplicationButton {
  background-color: red;
  margin-top: 0%;
  padding-top: 7%;
  padding-bottom: 7%;
  width: 30%;
  border-radius: 10px;
  color: white;
  font-size: 100%;
  text-align: center;
}
.approveapplicationButton:hover {
  background-color: rgb(234, 12, 12); /* Darken the color on hover */
}