/* Homepage Container */
.homepage {
    text-align: center;
    position: relative;
  }
  
  /* Background Image */
  .LandingBG {
    background-size: contain;
    background-repeat: no-repeat;
    width: 110%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
}
  /* Button Container */
  .buttonContainer {
    display: flex;
    width: 100%;
  }
  

  .profileButton {
    background-color: #8A252C;
    padding: 50px;
    margin-right: 20px;
    width: 40%;
    border-radius: 40px;
    color: white;
    font-size: 20px;
  }
  
  .dashboardButton {
    background-color: #5F191E; /* Corrected background color */
    color: white;
    padding: 50px;
    width: 60%;
    border-radius: 40px;
    font-size: 20px;
  }
  
  .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

  /* Disclaimer */
  .employeefeatures {
    background-color: #F4C522;
    padding: 50px;
    flex-grow: 1;
    border-radius: 40px;
    width: 60%;
    margin-right: 2%;
    font-size: 20px;
  }
  